.light {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.input-light {
  background-color: #fff;
}

.dark {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.input-dark {
  background-color: hsl(209, 23%, 22%);
}
