@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.App {
  font-family: "Nunito Sans", sans-serif;
}
@media screen and (max-width: 640px) {
  .App {
    padding: 0 35px;
  }
  input[type="search"] {
    width: 46%;
  }
}
